.introduction {
  position: relative;
  font-size: 14px;
  width: 100%;
  min-height: 100%;
  color: #f5f5f5;
  background-color: #1890ff;
}
.introduction .introduction-title {
  padding: 25px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.introduction .introduction-des {
  padding: 0px 15px 15px 15px;
}
.introduction .introduction-des span {
  background: #fff;
  color: #1890ff;
  font-weight: bold;
}
.introduction .introduction-btn {
  padding: 35px 15px 15px 15px;
}
.introduction .introduction-btn div {
  height: 35px;
  width: 100%;
  font-size: 22px;
  line-height: 35px;
  border-radius: 35px;
  color: #1890ff;
  background: #fff;
  text-align: center;
}
